body {
    text-align: center;
}


#header
{ background: #368bc1;
  align-content: center;
  border-bottom: 1px solid #3d3d3d;
  height: 210px;}

.img-resize {
    width: 100px;
    height: 100px;
}

.bigfont {
    font-size: 50px;
    
}

.midfont {
    font-size: 40px;
}

.regfont {
    font-size: 30px;
}

.centerbullets {
    width: 200px;
    margin: 0 auto;
    text-align: left;
    
}
#main2{
    width: 650px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    
    
}

p.para{
    content: normal;
    font-size: 20px;
    font-family: cursive;
    align-content: space-around;
    
}
#menubar
{ width: 872px;
  height: 40px;
  padding-right: 8px;
  background: #2D2D2D;
  border-top: 1px solid #3D3D3D;} 
ul#menu
{ float: right;
  margin: 0;}

ul#menu li
{ float: left;
  padding: 0 0 0 9px;
  list-style: none;
  margin: 8px 4px 0 4px;}

ul#menu li a
{ font: normal 100% 'trebuchet ms', sans-serif;
  display: block; 
  float: left; 
  height: 20px;
  padding: 6px 20px 5px 20px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  background: #5E4238;} 

ul#menu li.selected a
{ height: 20px;
  padding: 6px 20px 5px 11px;}

ul#menu li.selected
{ margin: 8px 4px 0 13px;
  background: #B48A7C;}

ul#menu li.selected a, ul#menu li.selected a:hover
{ background: #B48A7C;
  color: #FFF;}

ul#menu li a:hover
{ color: #B48A7C;}

#logo
{ width: 880px;
  position: relative;
  height: 150px;
  background: #1d1d1d;}
#logo #logo_text 
{ 
    position: absolute; 
  top: 10px;
  height: 100px;
  left: 0;}

#logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0 0 0 9px;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 22px 0 0 0;
  color: #FFF;
  letter-spacing: 0.1em;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #5E4238;}

#logo_text a:hover .logo_colour
{ color: #5E4238;}

#logo_text h2
{ font-size: 120%;
  padding: 4px 0 0 0;
  color: #B48A7C;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}



#sidebar_container
{ float: left;
  width: 224px;}




.sidebar_top
{ width: 222px;
  height: 14px;
  background: transparent url(img/side_top.png) no-repeat;}

.sidebar_base
{ width: 222px;
  height: 14px;
  background: url(side_base.png) no-repeat;}

.sidebar
{ float:center;
  width: 222px;
  padding: 0;
  margin-left: center;
    margin-right: center;
  margin: 0 0 16px 0;}


.sidebar_item
{ background: url(side_back.png) repeat-y;
  padding: 0 15px;
  width: 192px;}

.sidebar li a.selected
{ color: #444;} 

.sidebar ul
{ margin: 0;} 


#address_content {
    font-size: 1em;
    font-style: italic;
    position: absolute;
    bottom: 2vh;
    width: 100vw;
}
